Repository jjjacobsen/website: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-audit

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: detect-private-key
      - id: mixed-line-ending
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-json
      - id: check-yaml
      - id: check-toml
      - id: pretty-format-json
        args: ["--autofix"]

  # Prettier for code formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [css, scss, javascript, jsx, json, yaml, markdown, html]
        exclude: ^package-lock\.json$

  # ESLint for JavaScript/React linting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        files: \.(js|jsx)$
        pass_filenames: false

  # Check package.json dependencies for security vulnerabilities
  - repo: local
    hooks:
      - id: npm-audit
        name: npm security audit
        entry: npm audit --audit-level moderate
        language: system
        files: ^(package\.json|package-lock\.json)$
        pass_filenames: false

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.13.1-beta
    hooks:
      - id: hadolint-docker
        args: ["--ignore", "DL3008", "--ignore", "DL3009"]

vite is not a dev dependency
  Dockerfile
  package-lock.json
  package.json
Due: npm-audit

update README
  README.md
Due: none

add SEO stuff
  index.html
  public/robots.txt
  public/sitemap.xml
Due: none

forgot to also change some glows from green to blue
  src/components/Hero.css
  src/components/Projects.css
Due: none

final update to README
  README.md
Due: none

add invoke task to build and push to ECR
  README.md
  tasks.py
Due: none

add unit tests, and setup build_and_deploy task to chain those and the pre-commit
  README.md
  eslint.config.js
  package-lock.json
  package.json
  src/__tests__/About.test.jsx
  src/__tests__/App.test.jsx
  src/__tests__/Contact.test.jsx
  src/__tests__/Hero.test.jsx
  src/__tests__/Projects.test.jsx
  src/test/setup.js
  tasks.py
  vitest.config.js
Due: eslint, npm-audit

Update resume and add a couple new invoke tasks
  README.md
  public/jonah_jacobsen_resume.pdf
  tasks.py
Due: none

add ECR authentication to build-and-push task
  tasks.py
Due: none

update node version
  Dockerfile
Due: none

make the contact card work right on mobile screens
  src/components/Contact.css
Due: none

Add mise.toml
  mise.toml
Due: none

Remove testing code
  .pre-commit-config.yaml
  README.md
  package-lock.json
  package.json
  src/__tests__/About.test.jsx
  src/__tests__/App.test.jsx
  src/__tests__/Contact.test.jsx
  src/__tests__/Hero.test.jsx
  src/__tests__/Projects.test.jsx
  src/test/setup.js
  tasks.py
  vitest.config.js
Due: eslint, npm-audit

Add AGENTS.md with base instructions
  AGENTS.md
Due: none

Add some checks to the pre-commit
  .pre-commit-config.yaml
Due: none

Cleanup README
  README.md
  tasks.py
Due: none

Install node with mise and regenerate modules+lock
  README.md
  mise.toml
  package-lock.json
Due: npm-audit

Flush out mise tasks
  mise.toml
Due: none

Remove tasks.py
  tasks.py
Due: none

Remove docker compose
  docker-compose.yml
Due: none

Refactor Dockerfile for simplification
  Dockerfile
Due: none

Use remote eslint for pre-commit instead of local
  .pre-commit-config.yaml
Due: none

Update sitemap
  public/sitemap.xml
Due: none

Remove resume
  nginx.conf
  public/jonah_jacobsen_resume.pdf
  src/components/Contact.jsx
  src/components/Hero.jsx
Due: eslint

Remove linkedin
  index.html
  src/components/Contact.jsx
  src/components/Hero.jsx
Due: eslint

Fall color palette
  src/App.css
  src/components/Hero.css
  src/components/Projects.css
  src/index.css
Due: none

Change 'About Me' to 'Skills'
  index.html
  src/components/About.css
  src/components/About.jsx
Due: eslint

Update projects
  src/components/Projects.css
  src/components/Projects.jsx
Due: eslint

Increase viewport height of contact section
  src/components/Contact.css
Due: none

Remove footer in contact section
  src/components/Contact.css
  src/components/Contact.jsx
Due: eslint

Resize project cards a bit
  src/components/Projects.css
Due: none

Make animations happen faster
  src/components/About.jsx
Due: eslint

Rewrite Hero
  src/components/Hero.jsx
Due: eslint

Make eslint pre-commit fail on warnings
  .pre-commit-config.yaml
  src/components/About.jsx
Due: eslint

Switch from contact to cross
  src/App.jsx
  src/components/Contact.css
  src/components/Contact.jsx
  src/components/Cross.css
  src/components/Cross.jsx
Due: eslint

Rename About to Skills
  src/App.jsx
  src/components/Skills.css
  src/components/Skills.jsx
Due: eslint

Add lua to Skills
  src/components/Skills.jsx
Due: eslint

Remove now unneeded TODO
  README.md
Due: none

Add build task
  mise.toml
Due: none

Clean up index.html
  index.html
Due: none
